#logo-mandiri {
	height: 180px;
	display: block;
	margin-right: auto;
	margin-right: auto;
}
.parallax-container {
      height: 200px;
    }

.tombol-float-kanan{
	position:fixed;
	bottom:18px;
	right:24px;
}

.desc-part , .partList , .hapus , .qty{
	cursor: pointer;
}
body {
	font-size: .85em;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

iframe {
	margin-top: 10px;
}
